<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Dados Pessoais</nb-card-header>
      <nb-card-body>
        <form>
          <div class="input-group has-person-icon">
            <input type="text" placeholder="With Icon" class="form-control"/>
          </div>
        <div class="row full-name-inputs">
          <div class="col-sm-6 input-group">
            <input type="text" placeholder="Nick" class="form-control"/>
          </div>
          <div class="col-sm-6 input-group">
            <input type="text" placeholder="Last Name" class="form-control"/>
          </div>
        </div>
       
        <div class="input-group">
          <textarea rows="5" placeholder="Text Area" class="form-control"></textarea>
        </div>
        <div class="input-group input-group-sm">
          <input type="text" placeholder="Small Input" class="form-control"/>
        </div>
        <div class="input-group input-group-lg">
          <input type="text" placeholder="Large Input" class="form-control"/>
        </div>
        <div class="form-group">
          <label>Operadora</label>
          <select class="form-control">
            <option>Aline Freire</option>
            <option>Gomel</option>
            <option>Brest</option>
            <option>Grodno</option>
            <option>Mogilev</option>
          </select>
        </div>
        <div class="form-group validation-checkboxes row">
          <nb-checkbox status="success" class="col-sm-4">Ativo</nb-checkbox>
          </div>

          <div class="form-group row">
            <div class="offset-sm-2 col-sm-5">
              <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>

    <!-- <nb-card>
      <nb-card-header>Input Groups</nb-card-header>
      <nb-card-body>
        <div class="input-group">
          <span class="input-group-addon success">@</span>
          <input type="text" class="form-control" placeholder="Username"/>
        </div>

        <div class="input-group mail-btn-group">
          <span class="input-group-prepend">
            <button class="btn btn-primary btn-icon input-group-text">
              <i class="ion-ios-email-outline"></i>
            </button>
          </span>
          <input type="text" class="form-control" placeholder="Recipient's username">
          <span class="input-group-append">
            <button class="btn btn-primary input-group-text">
              @example.com
            </button>
          </span>
        </div>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-append">
            <button class="btn btn-danger input-group-text">
              Search
            </button>
          </span>
        </div>
        <div class="input-group">
          <div class="dropdown input-group-prepend input-group-btn" ngbDropdown>
            <button type="button" class="btn btn-success dropdown-toggle" ngbDropdownToggle>
              Action
            </button>
            <ul class="dropdown-menu" ngbDropdownMenu>
              <li class="dropdown-item">Action</li>
              <li class="dropdown-item">Another action</li>
              <li class="dropdown-item">Something else here</li>
              <div role="separator" class="dropdown-divider"></div>
              <li class="dropdown-item">Separated link</li>
            </ul>
          </div>
          <input type="text" class="form-control">
        </div>
      </nb-card-body>
    </nb-card> -->
<!-- 
    <nb-card>
      <nb-card-header>Selects</nb-card-header>
      <nb-card-body>
        <div class="form-group">
          <label>Simple Select</label>
          <select class="form-control">
            <option>Minsk</option>
            <option>Gomel</option>
            <option>Brest</option>
            <option>Grodno</option>
            <option>Mogilev</option>
          </select>
        </div>
        <div class="form-group">
          <label>Multiple Select</label>
          <select multiple class="form-control">
            <option>Item 1</option>
            <option>Item 2</option>
            <option>Item 3</option>
            <option>Item 4</option>
            <option>Item 5</option>
          </select>
        </div>
      </nb-card-body>
    </nb-card> -->
  </div>

  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Endereço</nb-card-header>
      <nb-card-body>

        <label>Simple Select</label>
        <div class="input-group input-group-border-only">
          <input type="text" placeholder="Border Only" class="form-control"/>
        </div>

        <label>Simple Select</label>
        <div class="input-group">
          <input type="text" placeholder="Default Input" class="form-control">
        </div>

        <div class="row full-name-inputs">
            <div class="col-sm-6 input-group">
              <input type="text" placeholder="Nick" class="form-control"/>
            </div>
            <div class="col-sm-6 input-group">
              <input type="text" placeholder="Last Name" class="form-control"/>
            </div>
          </div>

          <div class="row full-name-inputs">
              <div class="col-sm-6 input-group">
                <input type="text" placeholder="Nick" class="form-control"/>
              </div>
              <div class="col-sm-6 input-group">
                <input type="text" placeholder="Last Name" class="form-control"/>
              </div>
            </div>

      </nb-card-body>
    </nb-card>

  </div>
</div>
