<nb-card>
  <nb-card-header>
    Lista
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="motoqueiros" (editConfirm)="salvarMotoqueiro($event)" (createConfirm)="salvarMotoqueiro($event)" (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>

  <nb-card-body>
      <ng2-smart-table [settings]="settings" [source]="operadoras" (editConfirm)="salvarOperadora($event)" (createConfirm)="salvarOperadora($event)" (deleteConfirm)="onDeleteConfirm($event)">
      </ng2-smart-table>
    </nb-card-body>
</nb-card>
